.productlistwrapper {
  /* width: 90%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* overflow: auto; */
}

.cardwrapper {
}

.customerorderlist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 50vw;
  text-align: center;
}
