.productlistwrapper {
  /* width: 90%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 5rem;
}

.cardwrapper {
}

.customerorderlist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 70vw;
  text-align: center;
  overflow-x: auto;
  height: 77vh;
}
