.App {
  text-align: center;
}
.error {
  color: red;
}
.successResponse {
  padding: 20px;
  background-color: #caf9c4;
}

.errorResponse {
  padding: 20px;
  background-color: #f9c4c4;
}

.defaultShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forgotpasswordwrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 3rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resetpassworddiv {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 2rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
